:root {
    /* Bright orange: */
    --color-primary: hsl(31, 77%, 52%);
    /* Dark cyan:  */
    --color-secondary: hsl(184, 100%, 22%);
    /* Very dark cyan:  */
    --color-tertiary: hsl(179, 100%, 13%);
}

button {
    cursor: pointer;
}

.main {
    position: relative;
    background: white;
    display: block;
    padding: 87px 22px;
}

.box-container {
    display: grid;
    position: relative;
    background: red;
    min-width: 370px;
}

.box {
    background: black;
    width: 100%;
    height: 440px;
}

.box--primary {
    background-color: var(--color-primary);
}

.box--secondary {
    background-color: var(--color-secondary);
}

.box--tertiary {
    background-color: var(--color-tertiary);
}

.box__content {
    margin: 45px;
    width: 55%;
}

.box__body-text {
    margin-bottom: 80px;
    font-size: 16px;
}

.box__button {
    background: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 20px;
    text-transform: capitalize;
    color: inherit;
}

.box__button--primary {
    color: var(--color-primary);
}

.box__button--secondary {
    color: var(--color-secondary);
}

.box__button--tertiary {
    color: var(--color-tertiary);
}
