:root {
    /* Bright orange: */
    --color-primary: hsl(31, 77%, 52%);
    /* Dark cyan:  */
    --color-secondary: hsl(184, 100%, 22%);
    /* Very dark cyan:  */
    --color-tertiary: hsl(179, 100%, 13%);
    /* Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75) */
    --color-body-text: hsla(0, 0%, 100%, 0.75);
    /* Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */
    --color-headings: hsl(0, 0%, 95%);
}

body {
    font-size: 0.9375rem;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--color-body-text);
}

button {
    cursor: pointer;
}

.main {
    background: white;
    padding: 5.4375rem 1.35rem;
    align-items: center;
}

.box-container {
    display: grid;
    overflow: hidden;
    border-radius: 10px;
}

.box {
    background: black;
    width: 100%;
    height: 26.25rem;
}

.box--primary {
    background-color: var(--color-primary);
}

.box--secondary {
    background-color: var(--color-secondary);
}

.box--tertiary {
    background-color: var(--color-tertiary);
}

.box__content {
    margin: 2.8125rem;
    width: 80%;
}

.box__body-text {
    margin-bottom: 1.875rem;
    margin-right: 1.5625rem;
    line-height: 1.6;
    text-align: left;
}

.box__button {
    background: white;
    border: none;
    outline: none;
    padding: 0.875rem 1.5625rem;
    border-radius: 25px;
    text-transform: capitalize;
}

.box__button--primary {
    color: var(--color-primary);
}

.box__button--secondary {
    color: var(--color-secondary);
}

.box__button--tertiary {
    color: var(--color-tertiary);
}

.box__title {
    color: var(--color-headings);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.icon {
    fill: black;
}

.icon--primary {
    content: url('../images/icons/icon-sedans.svg');
}

.icon--secondary {
    content: url('../images/icons/icon-suvs.svg');
}

.icon--tertiary {
    content: url('../images/icons/icon-luxury.svg');
}

/* desktop */

@media screen and (min-width: 1140px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8.758rem 14.75rem;
    }

    .box-container {
        color: white;
        display: inline-flex;
        max-width: 1440px;
    }
    .box {
        color: white;
        height: 28.3125rem;
        width: 17.1875rem;
    }

    .box__content {
        margin: 2.8125rem;
        width: 85%;
    }

    .box__body-text {
        margin-bottom: 4.6875rem;
        color: var(--color-body-text);
    }
}
